@mixin marginTop($size) {
  @if $size == 'xs' {
    margin-top: 20px;
  }
  @if $size == 'sm' {
    margin-top: 70px;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  } @else if $size == 'md' {
    margin-top: 100px;

    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }
  } @else if $size == 'lg' {
    margin-top: 150px;

    @media screen and (max-width: 767px) {
      margin-top: 70px;
    }
  } @else if $size == 'none' {
    margin-top: 0;
  }
}
